.obsidian/workspace*
.obsidian/cache
.obsidian/plugins/**/node_modules/
.obsidian/plugins/**/dist/
.obsidian/plugins/**/build/
.obsidian/plugins/**/*.log
.DS_Store
Thumbs.db
.directory
Worlds/*
!Worlds/TTRPG Game Index.md
_system/media/images/miscs/*
!_system/media/images/miscs/.gitkeep
_system/media/images/banners/*
!_system/media/images/banners/.gitkeep
_system/srd/*
!_system/srd/sources.md
**/.git/
docs/*
